body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: calc(10px + 2vmin);
}
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
