
@font-face {
  font-family: jojo;
  src: url("./assets/css/fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: jojo-l;
  src: url("./assets/css/fonts/JosefinSans-ExtraLight.ttf");
}

  #root{
  margin:0;
}
:root {
  --text-color: #153650;
  --second-color: #e79759;
  --additional-color-1: #f0f0f0;
  --additional-color-2: #5abdb2;
  --main-font: jojo;
  --light-font: jojo-l;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--main-font);
}

button {
  font-size: calc(10px + 2vmin);
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
