.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  width: 100%;
  background-size: 100% 100%;
  height: 80vh;
  background-repeat: no-repeat;
  flex-direction: column-reverse;
  border-radius: 2%;
  opacity: 0.2;
}
.texticon {
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--secondary-color);
  font-family: var(--font);
}
.containercarousel {
  padding: 0px 0px;
}
.each-slide {
  margin: 0px 150px;

}
