.containerform {
  width: auto;
  height: 100vh;
  display: flex;
  background: url(/src/assets/image/background.png);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.centralcardform {
  border-radius: 10px;
  background: #e0e0e085;
  height: 70%;
  width: 80%;
  display: flex;
}
.containerstep {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 30px;
  width: 70%;
}
.formProject {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-form {
  border: 0;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-family: var(--text-font);
  font-size: 1.5rem;
  color: var(--text-color);
}
.inputformdescription {
  height: 70px;
  width: 90%;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
}
.labelform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: var(--text-font);
  font-size: 1.5rem;
  color: var();
  width: 80%;
}
.inputformprojet {
  height: 30px;
  width: 90%;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
}
.inputformprojet:focus {
  outline: var(--second-color);
}
