.search-bar-container{
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar > .search-bar-container{
  background-color: darkgrey;
  justify-content: flex-end;

}

.search-bar-container > div{
  display: flex;
  flex-direction: row;
} 

.search-bar select {
  width: 12rem;
  height: 2rem;
}

#fields{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 2rem;
  width: 80vw;

}
